site_name: XLiu知识空间
site_description: 计算机体系的知识
site_author: LiuZhiqiang(刘志强）
site_url: https://xliuqq.github.io/blog_md/
edit_url: https://gitee.com/luckyQQQ/blog_md
repo_url: https://github.com/xliuqq/blog_md
repo_name: xliuqq/blog_md
docs_dir: docs
site_dir: site
 
use_directory_urls: false
  
theme:
  name: material
  palette:
    primary: indigo
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
  language: 'zh'
  icon:
    repo: fontawesome/brands/github
      

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true 

extra:
  github_repo: xliuqq/blog_md
  
extra_javascript:
  - .mkdocs/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  

nav:
  - 主页: README.md
  - 云原生:
    - 概念: cloud/cloud_native.md
    - Fluid: cloud/fluid.md
    - ServiceMesh: cloud/Istio.md
    - argo: cloud.argo.md
    - Serverless: 
      - 概念: cloud/serverless/serverless.md
      - knative: cloud/serverless/knative.md
      - openfaas: cloud/serverless/openfaas.md
    - 云边协同（TODO）:
      - KubeEdge: cloud/cloud_edge/kubeedge.md
      - baetyl:  cloud/cloud_edge/baetyl.md
      - OpenYurt: cloud/cloud_edge/openyurt.md
      - mqtt协议: cloud/cloud_edge/mqtt.md
    - 自定义镜像:
      - 浏览器操作系统: cloud/images/web_centos.md
    - K8s:
      - 安装:
        - K8s集群安装: cloud/k8s/install.md
        - rook-ceph存储安装: cloud/k8s/k8s_rook_ceph.md
        - 发行版: cloud/k8s/release_compare.md
      - 概念: cloud/k8s/k8s.md 
      - 配置: cloud/k8s/conf.md
      - 使用: cloud/k8s/cmd_usage.md
      - 资源: cloud/k8s/k8s_resource.md
      - 安全: cloud/k8s/k8s_security.md
      - Helm: cloud/k8s/helm.md
      - 镜像仓库: cloud/k8s/habor.md
      - CRD:
        - native: cloud/k8s/crds_native.md
        - java operator: cloud/k8s/crds_java.md
        - kubebuild: cloud/k8s/crds_kubebuild.md
        - operator sdk: cloud/k8s/crds_operator_sdk.md
      - 资源管理: cloud/k8s/res_manage.md
      - 网络: cloud/k8s/k8s_network.md
      - CSI机制: cloud/k8s/k8s_csi.md
      - 调度: cloud/k8s/k8s_scheduler.md
      - 开源管理软件: cloud/k8s/KubeSphere.md
      - 交付平台: cloud/k8s/KubeVela.md
    - 虚拟化:
      - 基础: cloud/virtualize/README.md
      - docker:
        - 概念: cloud/virtualize/docker/docker.md
        - 使用: cloud/virtualize/docker/usage.md
        - 镜像搬运工具: cloud/virtualize/docker/skopeo.md
        - FAQ: cloud/virtualize/docker/faqs.md
      - containerd: cloud/virtualize/containerd/containerd.md
      - gpu虚拟化: cloud/virtualize/gpu.md
  - 调度系统:
    - 概念: scheduler_system/README.md
    - Yarn:
      - 架构: scheduler_system/yarn/arch.md
      - Cgroup配置: scheduler_system/yarn/cgroup.md
      - GPU调度配置: scheduler_system/yarn/gpu.md
      - 自定义设备支持: scheduler_system/yarn/yarn_resource_model.md
      - 节点标签和属性: scheduler_system/yarn/node_label_attributes.md
      - Yarn应用编写: scheduler_system/yarn/write_applications.md
    - 工作流调度:
      - DophinScheduler: scheduler_system/apache_dolphin_scheduler.md
      - ArgoWorkflow: scheduler_system/argoworkflow.md
    
  - 分布式共识/一致性:
    - 一致性: distributed_consensus/consistency.md
    - 共识: distributed_consensus/consensus.md
  - 代码内功:
    - 设计原则: code_guide/design_principle.md
    - 代码整洁之道: code_guide/clean_code.md
    - 重构: code_guide/refactor.md
    - 设计模式: 
      - 导览: code_guide/design_pattern/README.md
      - 创建型模式:
        - （TODO）工厂模式: code_guide/design_pattern/factory.md
        - 抽象工厂: code_guide/design_pattern/abstract_factory.md
        - 单例: code_guide/design_pattern/singleton.md
        - 构造者模式: code_guide/design_pattern/builder.md
      - 结构型模式:
        - 适配器模式: code_guide/design_pattern/adapter.md
        - 桥接模式: code_guide/design_pattern/bridge.md
        - 组合模式: code_guide/design_pattern/composite.md
        - 装饰模式: code_guide/design_pattern/decorator.md
        - 外观模式: code_guide/design_pattern/facade.md
        - 享元模式: code_guide/design_pattern/flyweight.md
        - 代理模式: code_guide/design_pattern/proxy.md
      - 行为型模式:
        - 职责链模式: code_guide/design_pattern/chain.md
        - 命令模式: code_guide/design_pattern/command.md
        - 解释器模式: code_guide/design_pattern/interpret.md
        - 迭代器模式: code_guide/design_pattern/iterator.md
        - 中介者模式: code_guide/design_pattern/medium.md
        - 备忘录模式: code_guide/design_pattern/menmento.md
        - 观察者模式: code_guide/design_pattern/observer.md
        - 状态模式: code_guide/design_pattern/state.md
        - 策略模式: code_guide/design_pattern/strategy.md
        - 模板方法: code_guide/design_pattern/template.md
        - 访问者模式: code_guide/design_pattern/visitor.md
      - 分布式应用设计模式:
        - 边车模式: code_guide/design_pattern/sidecar.md
    - 数据结构:
      - 数组: code_guide/data_structure/array.md
      - 队列: code_guide/data_structure/queue.md
      - 列表: code_guide/data_structure/list.md
      - 树: code_guide/data_structure/tree.md
      - 散列: 
        - 基础: code_guide/data_structure/hash.nd
        - 分布式一致性Hash: code_guide/data_structure/distributed_hash.md
      - 布隆过滤器: code_guide/data_structure/bloom_filter.md
      - Ping-Pong-Buffer: code_guide/data_structure/ping_pong_buffer.md
    - 算法:
      - 常用算法: code_guide/algs/common.md
      - 负载均衡算法: code_guide/algs/load_balance.md
      - 算法应用: code_guide/algs/applications.md
  - 编程语言:      
    - Java:
      - Effective java: languages/java/effective_java.md
      - 性能:
        - 常见问题分析: languages/java/performance/analysis.md
        - arthas性能分析: languages/java/performance/arthas.md
        - cpu profiler: languages/java/performance/cpu_profiler.md
        - jvm-profile分布式应用分析: languages/java/performance/jvm_profile.md
      - Native: 
        - 概览: languages/java/native/README.md
        - JNI: languages/java/native/jni.md
        - JNR: languages/java/native/jnr.md
      - JVM:
        - 即时编译Jit: languages/java/jit.md
        - jvm规范: languages/java/jvm.md
        - 字节码: languages/java/bytecode.md
      - Agent: languages/java/agent.md
      - 序列化: languages/java/serialize.md
      - 反射: languages/java/reflection.md
      - 注解: languages/java/annotation.md
      - SPI: languages/java/spi.md
      - 进程: languages/java/process.md
      - 测试: languages/java/test.md
      - 类加载器: languages/java/classloader.md
      - 命令行工具: languages/java/cmd_tools.md
      - 版本: languages/java/version.md
    - Python:
      - 三方包:
        - java和Python互相访问: languages/python/packages/java_python.md
        
  
  - 数据查询:
    - SQL系统对比: data_query/sql_compare.md
    - SQL 基础知识:
      - 基础: data_query/basic.md
      - 索引: data_query/index.md
    - 统一SQL-openLooKong-: data_query/apache_openlookong.md
    - 统一SQL-Presto:
      - 安装: data_query/presto/install.md
      - 介绍: data_query/presto/presto.md
      - 数据类型: data_query/presto/data_types.md
      - 语法: data_query/presto/syntax.md
      - Raptorx和Presto on Spark: data_query/presto/presto_scale.md  
    - 基准测试(TPC): data_query/tpc.md
    - MySQL:
      - 基础: data_query/mysql/mysql.md
  
  - 数据系统:
    - 缓存系统:
      - Redis(done): data_system/cache_system/redis.md
    - 消息队列:
      - Apache Pulsar: data_system/messagequeue/pulsar/apache_pulsar.md
      - STOMP协议: data_system/messagequeue/STOMP.md
    - 数据管理:
      - 数据集成:
        - 数据同步: data_system/data_manage/data_integration/README.md
        - CDC: data_system/data_manage/data_integration/cdc.md
        - seatunnel: data_system/data_manage/data_integration/seatunnel.md
        - chunjun: data_system/data_manage/data_integration/chunjun.md
        - tis: data_system/data_manage/data_integration/tis.md
        - bitsail: data_system/data_manage/data_integration/bitsail.md
      - 数据集成框架(InLong): data_system/data_manager/Apache_InLong.md
    - 数据湖:
      - Apache Hudi:
        - 原理: data_system/data_lake/apache_hudi/hudi.md
        - 服务:
          - 压缩（Compaction）: data_system/data_lake/apache_hudi/compaction.md
          - 聚簇（clustering）: data_system/data_lake/apache_hudi/clustering.md

  - 计算引擎:
    - Spark:
      - 概览: distributed_computing/spark/README.md
      - Spark SQL:
        - 基础: distributed_computing/spark/spark_sql/README.md
        - 特性: distributed_computing/spark/spark_sql/features.md
        - 数据源: distributed_computing/spark/spark_sql/datasource.md
        - CLI: distributed_computing/spark/spark_sql/sql_cli.md
      - Spark Graphx: distributed_computing/spark/spark_graphx.md
      - Spark on Yarn: distributed_computing/spark/spark_yarn.md
      - Spark Yarn RestAPI: distributed_computing/spark/spark_yarn_rest.md
      - Spark Metrics: distributed_computing/spark/spark_monitor.md
      - Spark 调优: distributed_computing/spark/spark_optimize.md
      - Spark Shuffle: distributed_computing/spark/spark_shuffle.md

    - GPU编程:
      - 介绍: distributed_computing/gpu/arch.md
      - Cuda: 
        - 安装: distributed_computing/gpu/cuda/install.md
        - 编程: distributed_computing/gpu/cuda/program.md
      - Rocm:
        - 编程: distributed_computing/gpu/cuda/hip.md
  
  - CS系统知识:
    - 基础: cs/cs_basic.md
    - 网络: 
      - 基础: cs/network/README.md
      - LVS: cs/network/LVS.md
      - http: cs/network/http.md
      - 内网穿透: cs/network/intranet_penetration.md
      - 网络层协议: cs/network/protocols.md
      - 传输层协议: cs/network/tcp.md
    - 操作系统: cs/cs_os.md
    - Linux 知识:
      - 基础: cs/linux/basic.md
      - acls: cs/linux/acls.md
      - bash: cs/linux/bash.md
      - cgroup: cs/linux/cgroup.md
      - chmod: cs/linux/chmod.md
      - chroot: cs/linux/chroot.md
      - firewall: cs/linux/firewall.md
      - ip: cs/liunx/ip.md
      - journald: cs/linux/journald.md
      - log: cs/linux/log_and_rotate.md
      - namespace: cs/linux/namespace.md
      - network: cs/linux/network.md
      - proc: cs/linux/proc.md
      - ramdisk: cs/linux/ramdisk.md
      - rsync: cs/linux/rsync.md
      - services: cs/linux/services.md
      - tuning: cs/linux/tuning.md
      - updatedb: cs/linux/updatedb.md
      - 进程快照: cs/linux/process_snapshot.md
      - yum: cs/linux/yum.md
      - 零拷贝: cs/linux/zero_coyp.md
    - Linux Shell:
      - basic: cs/linux/shell/basic.md
      - args: cs/linux/shell/args.md
    - OSLabCourse:
      - 大纲: cs/os_lab/README.md
      - 操作系统概述: cs/os_lab/1_os_introduction.md
  - 机器学习:
    - 图像视频:
      - 图像特征: machine_learning/imagevideo/image_feature.md
    - 自然语言处理NLP:
      - 动手做聊天机器人(TODO): machine_learning/nlp/chatbot.md
    - 示例案例: machine_learning/ai_demo/tools.md
    - 部署平台:
      - kserve: machine_learning/platform/kserve.md
    
  - Devops:
    - 概览: devops/devops.md
    - 代码仓库:
      - Gitlab: devops/codehub/gitlab.md
    - CI/CD:
      - 概览: devoos/cicd/README.md
      - Gitlab CI: devops/cicd/gitlab-ci.md
      - Drone CI: devops/cicd/drone-ci.md
      - Gitlab CD: devops/cicd/gitlab-cd.md
      - argo cd: devops/cicd/argo-cd.md
      - 版本自动发布: devops/cicd/release_changelog.md
      - 制品库: devops/cicd/nexus.md
    - Ansible(部署): devops/ansible.md
    - Prometheus(时序数据存储): devops/prometheus.md
    - Grafana(数据可视化): devops/ansible.md
    - 数据来源:
      - 日志收集: devops/log_collector.md
      - 节点监控: devops/monitor.md
    - 部署:
      - K8s集群交付: devops/sealer.md
    - 实战: devops/action.md
  
  - Web服务:
    - 实战:
      - 数据权限: web/action/data_permission.md
      - 实时消息推送: web/action/msg_notify.md
    - 后端:
      - servlet及容器(done): web/backend/servlet_container.md
      - 全局ID生成器(done): web/backend/id_generator.md
      - 接口管理设计(done): web/backend/api_manager.md
      - 缓存(done): web/backend/cache.md
      - 操作日志: web/backend/operation_log.md
      - 数据库: web/backend/db.md
      - Spring: 
        - SpringBoot: web/backend/spring/springboot.md
      - SpringCloud: 
        - 介绍: web/backend/springcloud/README.md
        - 网关: web/backend/springcloud/gateway.md
        - 服务发现: web/backend/springcloud/discovery.md
      - 分布式追踪:
        - 概览: web/backend/trace/tracing.md
      - 模板引擎: web/backend/template_engine.md
      - 规则引擎: web/backend/rule_engine.md
      - 状态机框架: web/backend/statemachine.md
      - 指标系统: web/metrics.md  
      - MQTT: web/backend/mqtt.md
    - 认证: web/authentication.md
    - 授权: web/authroization.md
    - 安全: web/security.md
    
  - 工具:
    - maven:
      - 基础: tools/maven/README.md
      - 插件: tools/maven/plugins.md
    - markdown:
      - 公式: tools/markdown/math.md
      - 图: tools/markdown/mermaid.md
      - Typora: tools/markdown/typora.md
    - mkdocs: tools/mkdocs.md
    - 开源协议声明: tools/licenses.md